@font-face {
    font-family: Byekan;
    src: url(../public/fonts/B\ Yekan_YasDL.com.ttf);
}

html,
#root {
    height: 100%;
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: rgb(9, 185, 103);
    background: linear-gradient(60deg, rgb(9, 187, 104) 100%, hsla(186, 100%, 69%)100%);
    background: -moz-linear-gradient(90deg, rgb(9, 187, 104) 0%, hsla(186, 100%, 69%)100%);
}

* {

    font-family: Byekan;
    direction: rtl;
}

.pointer {
    cursor: pointer !important;
}

.transition_200 {
    transition: all 200ms ease;
}

.text_hover_shadow:hover {
    text-shadow: 0 0 8px rgb(14, 215, 241);
}

.h_fit {
    height: fit-content;
}